@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Outfit&family=Roboto&display=swap");

$color-white: hsl(0, 0%, 98%);
$color-gray: hsl(0, 0%, 41%);
$color-black: hsl(0, 0%, 8%);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;

  @media only screen and (max-width: 1300px) {
    font-size: 60%;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 1000px) {
    font-size: 50%;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Epilogue", sans-serif;
  color: $color-gray;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 2rem 5rem;
  background-color: $color-white;

  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 2rem 5rem;
    height: 100%;
  }
  @media only screen and (max-width: 400px) {
    padding: 2rem 0rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  // position: relative;

  //   font-weight: 700;
  color: $color-gray;
  margin-bottom: 5rem;
  @media only screen and (max-width: 1000px) {
    margin-bottom: 8rem;
  }

  @media only screen and (max-width: 800px) {
    margin-bottom: 2rem;
  }
  @media only screen and (max-width: 400px) {
    padding: 2rem;
  }

  &-logo {
    width: 8rem;
    margin-top: 1rem;
  }
  &-navigation {
    width: 65%;
    display: flex;

    &__link {
      cursor: pointer;

      &:hover {
        color: $color-black;
      }
      &--text:hover::after {
        background-color: $color-black;
      }

      &:not(:first-child) {
        margin-left: 5rem;
      }

      &--text {
        position: relative;

        &::after {
          content: "";
          display: inline-block;
          margin-left: 0.5rem;
          width: 1.2rem;
          height: 1rem;
          // margin-top: 1rem;
          position: absolute;
          top: 35%;
          background-color: $color-gray;

          // -webkit-mask-image: url(./../assets//images/icon-arrow-down.svg);
          // -webkit-mask-size: cover;

          mask-image: url(./../assets//images/icon-arrow-down.svg);
          mask-size: contain;
          mask-repeat: no-repeat;
        }

        // &-features {
        //   position: absolute;
        //   margin-left: -12rem;
        // }
      }
    }
  }

  &-auth {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: end;

    &__login {
      margin-right: 5rem;
      cursor: pointer;

      &:hover {
        color: $color-black;
      }

      @media only screen and (max-width: 800px) {
        margin: 0;
      }
    }
    &__register {
      border: 2px solid $color-gray;
      padding: 1rem;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        color: $color-black;
        border: 2px solid $color-black;
      }

      @media only screen and (max-width: 800px) {
        padding: 1rem 5rem;
      }
    }
  }
}

.container-dropdown--features {
  position: relative;
}

.container-dropdown--company {
  position: relative;
  margin-left: 5rem;
  @media only screen and (max-width: 800px) {
    margin: 0;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  // display: none;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 1px 2px 10px rgba($color: $color-gray, $alpha: 0.2);
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;

  @media only screen and (max-width: 800px) {
    position: static;
    color: $color-gray;
    border-radius: 0;
    box-shadow: none;
    font-size: 1.6rem;
    background-color: $color-white;
  }
  &__item {
    display: flex;
    // justify-content: center;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__text {
    margin-left: 1rem;
  }

  &--features {
    margin-left: -5rem;
    display: none;

    @media only screen and (max-width: 800px) {
      margin: 0;
      margin-left: 2rem;
    }
  }

  &--company {
    width: 10rem;
    padding: 2rem 1rem;
    display: none;

    @media only screen and (max-width: 800px) {
      margin-left: 2rem;
      margin-top: 0;
    }
  }
}

// .header-navigation__link--text::after {
//   background-color: $color-black;
//   transform: rotate(180deg);
//   top: 0;
// }

.main {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
  gap: 2rem;

  @media only screen and (max-width: 800px) {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.main-item-1 {
  width: 100%;
  //   padding: 1rem 10rem;
  padding-left: 11rem;
  margin-right: auto;
  position: relative;

  @media only screen and (max-width: 900px) {
    padding-left: 5rem;
  }

  @media only screen and (max-width: 800px) {
    padding: 0;
  }

  @media only screen and (max-width: 400px) {
    padding: 2rem 5rem;
  }

  &__title {
    &--make {
      display: block;
      color: $color-black;
      @media only screen and (max-width: 800px) {
        display: inline-block;
        margin-right: 2rem;
      }
      @media only screen and (max-width: 400px) {
        margin-right: 1rem;
      }
    }
    display: inline-block;
    font-size: 8rem;
    font-weight: 700;
    margin-top: 10rem;
    width: 100%;

    @media only screen and (max-width: 1200px) {
      font-size: 6rem;
      margin-top: 5rem;
    }

    @media only screen and (max-width: 800px) {
      font-size: 5rem;
      text-align: center;
    }

    @media only screen and (max-width: 400px) {
      font-size: 4rem;
      margin-top: 0;
      text-align: center;
    }
  }
  &__description {
    font-size: 1.6rem;
    color: $color-gray;
    margin: 5rem 0;
    width: 90%;
    line-height: 2.5rem;
    padding-right: 8rem;

    @media only screen and (max-width: 1100px) {
      margin: 2rem 0;
    }

    @media only screen and (max-width: 800px) {
      display: flex;
      justify-content: center;
      padding-right: 0;
      width: 100%;
    }
    @media only screen and (max-width: 400px) {
      display: inline-block;
      text-align: justify;
    }
  }
  &__button {
    font-size: 1.6rem;
    color: $color-white;
    background-color: $color-black;
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
      color: $color-black;
      border: 2px solid $color-black;
      border-radius: 1rem;
    }
    @media only screen and (max-width: 800px) {
      display: flex;
      justify-content: center;
      width: 15rem;
      margin: auto;
    }
  }
}

.sponsor {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  // position: absolute;
  // bottom: 0;
  @media only screen and (max-width: 800px) {
    justify-content: center;
  }

  @media only screen and (max-width: 400px) {
    padding: 0 1rem;
  }

  &__item {
    width: 8rem;
  }
}

.main-item-2 {
  width: 100%;

  &__image {
    background-image: url(./../assets/images/image-hero-desktop.png);
    width: 50rem;
    height: 75vh;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    margin-left: auto;

    @media only screen and (max-width: 1000px) {
      width: auto;
      height: 65vh;
    }

    @media only screen and (max-width: 900px) {
      width: auto;
      height: 60vh;
    }

    @media only screen and (max-width: 800px) {
      background-image: url(./../assets/images/image-hero-mobile.png);
      width: auto;
      height: 35vh;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
    }
    @media only screen and (max-width: 400px) {
      height: 39vh;
      background-size: contain;
      width: 100%;
      padding: 0;
    }
  }
}

.none-mobile {
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.mobile {
  @media only screen and (min-width: 800px) {
    display: none;
  }
  // background-color: white;

  &__menu-icon {
  }

  &__menu-navigation {
    position: absolute;
    background-color: $color-white;
    right: 0;
    height: 100vh;
    width: 60%;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    padding: 2rem;

    display: none;
    &__item > * {
      margin-bottom: 2rem;
    }

    &__item--0 {
      display: flex;
      justify-content: flex-end;
    }

    &__item--4 {
      margin-bottom: 5rem;
    }

    &__item--5,
    &__item--6 {
      display: flex;
      justify-content: center;
    }
  }

  &__close-icon {
    margin-top: 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
